
  <span> My app is running!</span>
  <form class="ui large form sergment">
    <h3>Add a Link</h3>
    <div>
      <label for="title">Title:</label>
      <input name="title" #newTitle>
    </div>
    <div>
      <label for="link">Link:</label>
      <input name="link" #newlink>
    </div>
    <button (click)="addArticle(newTitle, newlink)">Submit Link</button>
  </form>

  <div>
    <!--article est une propriété du composant article-->
    <app-article *ngFor="let a of sortedArticles() "  [article] = "a" (deleteEvent)="delete($event)"></app-article>
  </div>

  <app-better-form></app-better-form>


